
*{
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #EAEAEA; 
    background: url('images/Background.webp') no-repeat center center fixed; 
    background-size: cover; 
    position: relative; 
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

header {
    background: linear-gradient(to right, #003366, #0066cc); 
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative; 
    z-index: 1; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px; 
}

nav ul li a {
    color: #EAEAEA; /* Light text color */
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease; 
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

nav ul li a.active,
nav ul li a:hover {
    background: linear-gradient(to right, #003366, #0066cc); 
    transform: scale(1.05); 
}

section {
    background: rgba(0, 0, 0, 0.5); 
    color: #EAEAEA; 
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px; 
    position: relative; 
    z-index: 1;
}

.container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}

.event-categories {
    text-align: center;
    margin-top:15px;
    margin-bottom: 20px;
 
}

.event-btn, .event-item {
    background: linear-gradient(to right, #003366, #0066cc); 
    color: #EAEAEA; 
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px; 
    transition: background 0.4s ease, transform 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    display: inline-block; 
}

.event-btn:hover,
.event-item:hover {
    background: linear-gradient(to right, #0066cc, #003366); 
    transform: scale(1.05);
}


ul {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
}


.event-details {
    display: none;
    padding: 10px;
   
    color: #EAEAEA; 
    border-radius: 5px;
    margin-top: 10px;
    transition: opacity 0.4s ease;  
}

.event-details.show {
    display: block;
    opacity: 1; 
}


.poster-container {
    position: relative;
    width: 60%;
    max-width: 600px;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    animation: dropIn 1s ease-out forwards;
    transform: translateY(-100vh);
}

.poster-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.poster-container:hover img {
    transform: scale(1.05);
}

.poster-caption {
    position: absolute;
    bottom: 10px;
    left: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
}

@keyframes dropIn {
    to {
        transform: translateY(0);
    }
}

h1, h2, h3, p {
    margin: 0; 
    line-height: 1.6; 
}

h1 {
    font-size: 2.5rem; 
}

h2 {
    font-size: 2rem; 
}

h3 {
    font-size: 1.5rem; 
}

p {
    font-size: 1rem; 
}


.close-btn {
    display: none; 
}

#about{
    margin-top:15px;
}

footer {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #7066ff;
  }
  

  #loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #003366; 
    z-index: 9999;
  }
  
  
  
  